<h1><%="#{@player1.name} vs #{@player2.name}"%></h1>
<h1><%="#{@player1.name} does a MASSIVE attack on #{@player2.name}" %></h1>
<form action="/play">
  <input type="submit" value="Return to the battle">
</form>
