<h1><%="#{@game.player_1.name} vs #{@game.player_2.name}"%></h1>
<h1><%="#{@game.player_1.name} does a MASSIVE attack on #{@game.player_2.name}" %></h1>
<!-- <% @game.turn_switcher %> -->
<form action="/play">
  <input type="submit" value="Return to the battle">
</form>
